#products {margin-top: 50px;}
  
#products h1 {
  font-weight: 900;
  text-transform: uppercase;
  margin-bottom: 20px;
}
  
#products h1 span {
  font-weight: 700;
  font-size: 16px;
}
  
#products .product-filter select {width: 25%;}
  
#products .product-filter div {width: 45%;}
#products .product-filter div input {width: 80%;}
  
#products .products-container {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 30px;
  column-gap: 6.66%;
}
  
#products .products-container .product {
  padding: 20px 20px;
  width: 20%;
  background-color: var(--third-color);
}
#products .products-container .product img,
#products .products-container .product h3 {cursor: pointer;}
#products .products-container .product .price button {display: none;}
  
#products .products-container .product img {width: 100%;}
#products .products-container .product .product-info {margin-top: 10px;align-items: center;}
  
@media (max-width: 700px) {
#products .product-filter {
  flex-wrap: wrap;
  row-gap: 10px;
}
#products .product-filter select {width: 100%;}
#products .product-filter div {width: 100%;}
#products .product-filter div input {width: 70%;}
#products .products-container .product {width: 45%;}
#products .products-container .product .product-info {flex-direction: column;align-items: flex-start;}
#products .products-container .product .product-info .price {
  width: 100%;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}
#products .products-container .product .product-info .price button {
  display: block;
  font-size: 12px;
  height: 37px;
  padding: 0 5px;
  cursor: pointer;
}
}

// PRODUCT INFORMATION POP UP  ===========================
#product-information {
  position: fixed;
  top: 0;
  right: -110%;
  width: 90vw;
  height: 100vh;
  background-color: var(--third-color);
  border-left: 10px solid var(--secondary-color);

  display: flex;
  flex-direction: column;
  justify-content: center;
  padding:  0 100px;
}
#product-information button.close {
  width: 100px;
  margin: 0 0 20px 0;
}

#product-information.show-product {right: 0; transition-duration: 1s;}
#product-information .product-info {
  width: 45%;
  text-align: justify;
}
#product-information div.all-product-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#product-information .product-info h1 {font-weight: 900;}
#product-information .product-info p {margin: 20px 0 50px 0;}
#product-information .product-info div {margin-top: 20px;}
#product-information .product-info button {width: 75%;}
#product-information .product-info input {width:20%;}


@media (max-width: 900px) {
  #product-information .all-product-details {
    width: 80vw;
    flex-direction: column;
  }
  #product-information {padding: 0 15px;}
  #product-information .product-image img {width: 50%; margin-bottom: 10px;}

  #product-information .product-info {width: 95%;}
  #product-information .product-info p {margin: 5px 0 20px 0;}
  #product-information .product-info div {margin-top: 10px;}
  #product-information button.close {
    margin: 0 0 20px 15px;
  }

}