// IMPORT OUR SCSS DESIGN SYSTEM 
@use '../../../Assets/Css/Css-pages/Design-System';

/* START ADMINISTRATION HERO SECTION  */ 
#home,
#Products,
#categories,
#Author {
    width: 100%;
    height: auto;
    margin-top: 100px;
}
#home img {width: 100px;}

#home .container,
#Products .container,
#categories .container,
#Author .container {height: auto;}

#home .container .title,
#Products .container .title,
#categories .container .title,
#Author .container .title {
    align-items: center;
}
h1{
    font-weight: 900;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

p{font-weight: 600;}

/* START ADMINISTRATION ADM CONTENT SECTION =============================  */ 
#home .container .adm-section {
    flex-wrap: wrap;
    // column-gap: 50px;
    row-gap: 50px;
    margin-top: 50px;
    width: 100%;
}
#home .container .adm-section .categories,
#home .container .adm-section .products,
#home .authors {
    width: 45%;
    height: auto; 
    padding: 50px 0;
    background-color: var(--third-color);
    border: 2px solid var(--secondary-color);
    justify-content: center;
    align-items: center;
    column-gap: 50px;
}
/* START CATEGORIES ADMINISTRATION PAGES ============================= */ 
#categories .container .categories-section {
    margin: 50px 0 50px 0 ;
    display: flex;
    justify-content: flex-start;
    column-gap: 20px;
    row-gap: 20px;
    flex-wrap: wrap;
}
#categories .container .categories-section .category {
    background-color: var(--third-color);
    border: 2px solid var(--secondary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 10px;
}
#categories .container .categories-section .category h1 {
    width: 100%;
    background-color: var(--secondary-color);
    color: var(--third-color);
    text-align: center;
    margin-top: 20px;
    padding: 5px 0;
}
/* ADD NEW CATEGORIES =============== */ 
#add_New_Category,
#modify_Category,
#add_New_Product,
#edit_Product,
#add_New_Author,
#modify_Author {
    position: fixed;
    top: 0;
    right: -100%;
    width: 50vw;
    height: 100vh;
    background-color: var(--third-color);
    border-left: 10px solid var(--secondary-color);
    padding: 50px;
    overflow-y: scroll;
}
#add_New_Category.show,
#modify_Category.show,
#add_New_Product.show,
#edit_Product.show,
#add_New_Author.show,
#modify_Author.show {
    right: 0;
    transition-duration: 1s;
}
#add_New_Category form,
#modify_Category form,
#add_New_Product form,
#edit_Product form,
#add_New_Author form,
#modify_Author form{
    display: flex;
    flex-direction: column;
    margin-top: 43px;
}
#add_New_Category form input,
#add_New_Category form textarea,
#modify_Category form input,
#modify_Category form textarea,
#add_New_Author form input,
#modify_Author form input {
    margin-bottom: 5px;
}
.errorMessage {margin-bottom: 20px; width: 100%;}
#add_New_Category form textarea,
#modify_Category form textarea,
#add_New_Product form textarea,
#edit_Product form textarea {height: 150px;}


/* PRODUCTS PAGE  =============== */
#Products .products-section,
#Author .Author-section {
    margin-top: 50px;
}
#Products .product-table-head,
#Author .author-table-head {
    background-color: var(--secondary-color);
    color: var(--third-color);
    display: flex;
    justify-content: space-between;
    padding: 20px 20px;
}
#Products .products-container, #Author .Author-container {margin-top: 30px;}
#Products .product,
#Author .Author {
    background-color: var(--third-color);
    color: var(--secondary-color);
    border: 2px solid var(--secondary-color);
    display: flex;
    justify-content: space-between;
    padding: 5px 20px;
    align-items: center;
    margin-bottom: 10px;
}
#Products .product-table-head h3:first-child, .product h3:first-child {width: 60px; font-weight: 900;}
#Products .product-table-head h3:nth-child(2), .product h3:nth-child(2) {width: 500px; font-weight: 900;}
#Products .product-table-head h3:nth-child(3), .product h3:nth-child(3) {width: 100px;}
#Products .product-table-head h3:nth-child(4), .product h3:nth-child(4) {width: 180px;}
#Products .product-table-head h3:nth-child(5), .product h3:nth-child(5) {width: 280px;}

/* ADD NEW CATEGORIES =============== */ 

#add_New_Product form input[type="file"], #edit_Product form input[type="file"] {padding-top: 10px;}
.errorMessage {margin-bottom: 10px; width: 100%;}
#book_empty, #empty_category, #empty_Author  {
    background-color: var(--third-color);
    border: 2px solid var(--secondary-color);
    color: var(--secondary-color);
    padding: 0px 10px;
    display: none;
}
#book_empty.no-data, #empty_category.no-data, #empty_Author {display: block;}


/* AUTHOR ADM PAGE */
#Author .author-table-head h3:first-child, .Author h3:first-child {width: 60px; font-weight: 900;}
#Author .author-table-head h3:nth-child(2), .Author h3:nth-child(2) {width: 500px; font-weight: 900;}
#Author .author-table-head h3:nth-child(3), .Author h3:nth-child(3) {width: 500px;}
#Author .author-table-head h3:nth-child(4), .Author h3:nth-child(4) {width: 280px;}

